* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  background-image: linear-gradient(rgba(52, 53, 65, 1), rgba(52, 53, 65, 0.8));
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  /* background-image: linear-gradient(rgba(52, 53, 65, 1), rgba(52, 53, 65, 0.8));
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100vh;
  width: 100vw;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.header-content {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.container {
  width: 360px;
  height: 650px;
  margin: 4% auto 0;
  background: #fff;
  border-radius: 5px;
  position: relative;
  /* uncomment this to see the additional forms */
  overflow: hidden;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #777;
}

.container form {
  width: 280px;
  height: 550px;

  position: absolute;
  top: 75px;
  left: 40px;
  transition: 0.5s;
  box-sizing: border-box;
}

form input {
  width: 100%;

  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #999;
  border-radius: 5px;
  outline: none;
  background: transparent;
  box-sizing: border-box;
}

form textarea {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;

  border-radius: 5px;
  border: 1px solid #999;
  box-sizing: border-box;
}

form input:focus,
form textarea:focus,
.bootcamp-major-field:focus {
  border: 2px solid #ff9770;
  outline: none; /* Optional: remove the default focus outline */
}

form input#profile-pic {
  height: 36px;
  width: 1px;
  opacity: 0;
  z-index: -100;
  position: absolute;
  overflow: hidden;
}

.form-file-upload-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 35px;
  margin: 0 10px;
  background: linear-gradient(to right, #ff6b81, #ff9770);
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.form-file-upload-button div {
  max-width: 100%;
  display: inline-block;
}

.w-file-upload-info {
  display: inline-block;
  font-size: 11px;
}

.dropdown-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 130%;
}

.bootcamp-major-field {
  width: 100%;
  padding: 10px 5px;
  color: #777;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
  display: block;
  appearance: none;
  outline: none; /* Optional: remove the default focus outline */
  border: 2px solid rgba(255, 151, 112, 0.5);
}

::placeholder {
  color: #777;
}

.experience-radio-options-border {
  padding-top: 5px;
  margin-top: 5px;
}

.experience-radio-options-border:hover,
.interests-checkbox-options-border:hover,
.commitment-days-range-border:hover {
  border-radius: 5px;
  border: 2px solid #ff9770;
}

.interests-checkbox-options-border {
  border-radius: 5px;
  border-bottom: 1px solid #999;
}

.experience-radio-options-border:hover .experience-radio-options {
  border: none;
}

.experience-radio-options {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  border-bottom: 1px solid #999;
}

.experience-radio-options-label {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #777;
  padding: 0 5px 5px;
  font-style: italic;
  box-sizing: border-box;
}

.experience-radio-options label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 5px;
}

.experience-radio-options input[type='radio'] {
  margin-right: 5px;
}

.experience-radio-options span {
  white-space: nowrap;
  font-size: 14px;
  color: #777;
  font-weight: bold;
}

.interests {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
  font-style: italic;
  margin-left: 5px;
}

.checkbox-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 14px;
  color: #777;
  border-radius: 5px;
  padding: 0 5px 5px;
}

.checkbox-options label {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 100%;
}

.checkbox-options input[type='checkbox'] {
  margin-right: 5px;
  width: auto !important;
}

.commitment-days-range-border {
  margin-top: 10px;
}

.commitment-days {
  display: inline-block;
  font-size: 14px;
  color: #777;
  font-style: italic;
  padding: 5px;
}

.commitment-days-value {
  text-align: center;
  font-size: 14px;
  color: #777;
  padding-bottom: 5px;
}

#commitment-days {
  width: calc(100% - 20px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.btn-box {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  position: absolute;
  bottom: 0;
}

form button {
  width: 110px;
  height: 35px;
  margin: 0 10px;
  background: linear-gradient(to right, #ff6b81, #ff9770);
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}

#Form2 {
  left: 450px;
}
#Form3 {
  left: 450px;
}

.step-row {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}

.step-col {
  width: 120px;
  text-align: center;
  color: #333;
  position: relative;
}
#progress {
  position: absolute;
  height: 100%;
  width: 120px;
  background: linear-gradient(to right, #ff6b81, #ff9770);
  transition: 1s;
}
#progress::after {
  content: '';
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid #ff9770;
}
